<!doctype html>
<html>

<head>
    <title>Chat App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">

    <link href="./css/style.css" type="text/css" rel="stylesheet" />
</head>

<body >
            <text id="from" style="visibility: hidden;">{{from}}</text>
        <text id="to" style="visibility: hidden;">{{to}}</text>
    <div class="chat_window"  >


        <div class="top_menu" style="background-color: rgb(0, 126, 84); color:black;  padding-top: 0px;">
            <!-- <div  class="buttons"> -->
            <!-- <div  class="button close"></div>
    <div  class="button minimize"></div>
    <div  class="button maximize"></div> -->
            <!-- </div> -->
            <div class="title" style=" font-size:40px;  color:white; font-family:serif ">{{to}}</div>
        </div>
        <div>
            <ul id="messagelist" class="messages" >
            {{#each bufferarray}}


            <li>{{usermessage}}</li>
            <span>by {{fromuser}} </span>



            {{/each}}
        </ul>


        </div>
        
        <div class="bottom_wrapper clearfix">
            <form id="form">
                <div class="message_input_wrapper">
                    <input id="message" class="message_input" placeholder="Type your message here..." />
                </div>
                <button class="send_message">Send</button>
                <input id="roomname" style="visibility: hidden;" value={{room}}></input>
            </form>
        </div>
    </div>
    <script src="/js/socket.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index.min.js"></script>
    <script src="/js/chat.js"></script>
</body>

</html>